[Unit]
Description=Tor service (privacy routing) - Incognito OS
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/tor -f /etc/tor/torrc
User=debian-tor
Restart=on-failure
NoNewPrivileges=true
ProtectSystem=strict
ProtectHome=true

[Install]
WantedBy=multi-user.target
